*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.header{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.userlist{
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-gap: 20px;
}
.UserCard{
  width: 30%;
  padding: 10px 15px;
}
.UserCard>h4,h5,p{
  margin: 10px 0;
}